---
{
    "stream": {
        "$id": "localities",
        "source": "knowledgeGraph",
        "destination": "pages",
        "fields": [
            "id", 
            "uid", 
            "name",
            "slug", 
            "c_directoryParent.name",
            "c_directoryParent.id",
            "c_directoryParent.uid",
            "c_directoryParent.slug",
            "c_directoryParent.c_directoryParent.name", 
            "c_directoryParent.c_directoryParent.uid",
            "c_directoryParent.c_directoryParent.id",
            "c_directoryParent.c_directoryParent.slug",
            "c_directoryEntries.name",
            "c_directoryEntries.uid",
            "c_directoryEntries.id",
            "c_directoryEntries.slug"
            ], 
        "filter" : {
            "entityTypes": [
                "ce_directoryLocality"
            ]
        }
    },
    "urlFormat": "{{slug}}"
}
---
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    </head>

    <body>
        <div>
        <div>
            {{#each c_directoryParent}}
                {{#each c_directoryParent}}
                /<a href="/{{this.slug}}" class="no-underline text-indigo-500">{{this.name}}</a>            
                {{/each}}
                 / <a href="/{{this.slug}}" class="no-underline text-indigo-500">{{this.name}}</a>
            {{/each}}            
        </div>
        </div>
        <div class="text-4xl mb-4">Locality Page</div>
        <div class="mb-4"> <strong>Name:</strong> {{name}}</div>

        <div class="text-xl">Locations in this locality</div>  
              {{#each c_directoryEntries}}
                <a href="/{{this.slug}}" class="no-underline text-indigo-500">{{this.name}}</a>
              {{/each}}
    </body>
</html>