---
{
    "stream": {
        "$id": "regions",
        "source": "knowledgeGraph",
        "destination": "pages",
        "fields": [
            "id", 
            "uid", 
            "name",
            "slug", 
            "c_directoryParent.name",
            "c_directoryParent.id",
            "c_directoryParent.uid",
            "c_directoryParent.slug",
            "c_directoryEntries.name",
            "c_directoryEntries.uid",
            "c_directoryEntries.id",
            "c_directoryEntries.slug"
            ], 
        "filter" : {
            "entityTypes": [
                "ce_directoryRegion"
            ]
        }
    },
    "urlFormat": "{{id}}"
}
---
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    </head>

    <body>
        <div>
             {{#each c_directoryParent}} 
                <div>
                    <a href="/{{this.slug}}" class="no-underline text-indigo-500">Home</a>
                </div>
            {{/each}}
        </div>
        <div class="text-4xl mb-4">Region: {{name}}</div>
        {{!-- <div class="mb-4"> <strong>Name:</strong> {{name}}</div> --}}
        <div class="text-xl">Localities in this region</div>  

        <ul>
              {{#each c_directoryEntries}}
              <li>  <a href="/{{this.id}}" class="no-underline text-indigo-500">{{this.name}}</a> </li>
              {{/each}}
        </ul>
    </body>
</html>